@import url('./null-style.css');
@import url('./fonts.css');
@import url('./variables.css');
@import url('./typography.css');

@import url('./components/menu.css');
@import url('./components/playing-field.css');
@import url('./components/card.css');
@import url('./components/button.css');
@import url('./components/size-counter.css');
@import url('./components/accordion.css');
@import url('./components/timer.css');
@import url('./components/message.css');
@import url('./components/size-input.css');
@import url('./components/input.css');

html,
body {
  height: 100vh;
}

.body-background {
  background-color: var(--background-color);
}

.body-custom {
  padding-top: var(--basic-indent);
  padding-bottom: var(--basic-indent);
}

.container {
  display: flex;
  width: 100%;
  padding-right: var(--basic-indent);
  padding-left: var(--basic-indent);
  column-gap: var(--basic-indent);
}

.visually-hidden {
  position: fixed;
  z-index: -10001;
  transform: scale(0);
}

.menu {
  flex: 1 1 25%;
}

.playing-field {
  flex: 2 2 75%;
}
