html,
body {
  height: 100vh;
}

.body-background {
  background-color: #04380e;
}

.container {
  max-width: 96%;
  margin: 0 auto;
}

.menu {
  max-width: 33.3333333333%;
}

.playing-field {
  max-width: 66.6666666667%;
}
