.playing-field {
  display: flex;
  width: 100%;
  height: calc(100vh - (var(--basic-indent) * 2));
  padding: 32px;
  border: 20px solid #7b373b;
  border-radius: var(--border-radius);
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5) inset, 0 0 12px 12px rgba(0, 0, 0, 0.5);
  background: radial-gradient(circle, rgba(6, 200, 1, 0.93) 0%, rgba(0, 89, 10, .93) 100%) no-repeat center, url("../../assets/images/texture-cloth.jpg") no-repeat center;
  background-size: cover;
  gap: var(--basic-indent);
}
